body{
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;   
  align-items: center;      
  height: 100vh;             

}

.card_login{
    background-color: white;
    width: 400px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}

.judul_login{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif ;
    color:black;
    font-weight: bold;

}input{
padding: 7px;
border-radius: 7px;

}


.ket_daftar{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 25px;
}
.kolom{
    font-size: 16px;
    font-family:sans-serif ;
    color:black  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    height: 45px ;
    max-width: 400px;
    
    

}.asep{
    border-radius: 7px;
    background:gold;
    border: aqua;
    color:aliceblue ;
      
}


