body{
background-color:gainsboro;;
display: flex;
  justify-content: center;   
  align-items: center;      
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#ibad{
    background-color: white;
    width: 250px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    gap: 10px;
}
input{
padding: 7px;
border-radius: 7px;
height: 10px;


}
.kotak{
display: flex;
flex-direction: row;
gap: 10px;
margin-top: 7px;
width: auto;
height: 20px;
border-radius: 7px;
}
.box {
 background-color:gray;
 color: rgb(52, 219, 37);
 box-shadow: 0 4px 8px aliceblue;
 border-radius: 7px;
 height: 40px;
 width: 35px;
 gap: 10px;

}
.title{
  font-weight: 700;  
  font-size: 25px;
  color: greenyellow;
}
h2{
  color: greenyellow;
}
.box:hover{
  border-bottom: 2px solid greenyellow;
  color: azure;
}






