body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 150px;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.title p {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: inline-block;
}
.title p {
  list-style: none;
}

.title p:hover {
  border-bottom: 2px solid gold;
  color: gold;
}

.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.menu ul li a:hover {
  border-bottom: 2px solid gold;
  color: gold;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-top: 50px;
  height: 80vh;
}
.hero-content p {
  font-size: 40px;
  font-weight: bold;
  /*margin-top: 7px;  */
}
.hero-content p span {
  color: gold;
}
.hero-content button {
  background-color: black;
  border-radius: 12px;
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
}
.hero-content button a {
  list-style: none;
}
.hero-content button a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: inline-block;
}
.hero-content button a:hover {
  border-bottom: 2px solid gold;
  color: gold;
}

.hero-image img {
  width: 250 px;
  height: 350px;
}
.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
.social-media ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 50px;
}
.social-media ul li {
  display: inline-block;
  margin-right: 40px;
}
.social-media ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.social-media ul li a:hover {
  border-bottom: 2px solid gold;
  color: gold;
}

.about {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: gold;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  gap: 50px;
}
.about-box {
  background-color: white;
  height: 100px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}
.about-section a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: inline-block;
}
.about-section a {
  list-style: none;
}

.about-box:hover {
  border-bottom: 2px solid black;
  color: gold;
}
.about-title {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-title-judul {
  font-size: 50px;
  font-weight: 400;
}
.about-title-subjudul {
  font-size: 35px;
  font-weight: 600;
  font: bold;
  margin-top: -20px;
}
.about-title-isi {
  margin-top: -20px;
}
.about-title button {
  background-color: white;
  color: black;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 12px;
  margin: 4px;
}
.about-title button:hover {
  background-color: white;
  color: gold;
  border: 1px solid gold;
  transition: ease 0.5s;
}
.about-title button a {
  text-decoration: none;
  color: gold;
  font-weight: 500;
  display: inline-block;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.skills-title {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-judul {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}
.title-judul span {
  color: gold;
}

.skills-kotak {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: -20px;
  gap: 10px;
}
.skills-box {
  background-color: darkgrey;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.skills-box:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
}
.skills-box img {
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
}
.pasep-title {
  color: gold;
  font-size: 20px;
  font-weight: 500;
}
.abyan-poke {
  color: gold;
  font-size: 20px;
  font-weight: 500;
}
.var-gakjelas {
  color: gold;
  font-size: 20px;
  font-weight: 500;
}
.atletico {
  color: gold;
  font-size: 20px;
  font-weight: 500;
}
#works {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: gold;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box-utama {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: -20px;
  gap: 20px;
  margin-top: -50px;
}
.box {
  background-color: white;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: -10px;
}
.floating-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: gold;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 24px;
  display: none;
}
.box img {
  height: 130px;
  width: 130px;
  align-items: center;
  justify-content: center;
}
.box1 {
  background-color: white;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: -1px;
}
.box1 img {
  height: 130px;
  width: 130px;
  align-items: center;
  justify-content: center;
}
.title-works {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;
}
.p {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  color: white;
}
.box p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
  color: white;
}
.box1 p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
  color: white;
}
.box:hover {
  transform: scale(1.1);
}
.box1:hover {
  transform: scale(1.1);
}
.p span {
  color: black;
  font-weight: 500;
}
#contact {
  font-family: Arial, sans-serif;
  background: rgb(245, 243, 243);
  color: rgb(14, 7, 7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contact-box {
  background: transparent;
  padding: 25px;
  border-radius: 12px;
  margin-top: 80px;
}

.contact-box input,
.contact-box textarea {
  width: 70%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
}
.contact-box button {
  width: 73%;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-box button:hover {
  transform: translateY(-2px);
  transition: ease 0.2s;
  background-color: gold;
  color: white;
}
.img {
  background-color: transparent;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-top: -1px;
}
.img img {
  width: 180px;
  height: 300px;
  margin-right: 10px;
}
.menu-bars {
  display: none;
}
.title-responsive {
  display: none;
}
@media screen and (max-width: 480px) {
  .title {
    display: none;
  }
  .title-responsive {
    display: block;
    font-weight: 500;
  }
  .menu {
    display: none;
  }
  .menu-bars {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}
.side-bar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 2px black;
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 30px;
}
menu ul {
  list-style: none;
}
.side-bar ul li {
  margin-bottom: 20px;
}
.side-bar ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.side-bar ul li a:hover {
  border-bottom: 2px solid gold;
  color: gold;
}
.title-responsive p {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: inline-block;
}
.title p {
  list-style: none;
}

.title p:hover {
  border-bottom: 2px solid gold;
  color: gold;
}

@media screen and (max-width: 480px) {
  .header {
    gap: 100px;
    width: 350px;
    /* height: 100vh; */
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* biar semua isi di tengah vertikal */
    gap: 7px;
    text-align: center;
    margin-top: -40px;
  }
  .hero-content p {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .hero-content button {
    left: 0;
    right: 0;
    margin-bottom: auto;
  }
  .hero-image img {
    margin-top: 10px;
    max-width: 300px;
    width: 200px;
    height: auto;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    justify-content: center;
    gap: 7px;
  }
  .about-section {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
  }
  .about-box {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .about-title p {
    font-size: 22px;
    justify-content: center;
  }
  .skills {
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
  }
  .skills-title p {
    margin-top: -10px;
    font-size: 30px;
    font-weight: 500;
  }
  .skills-kotak {
    display: grid;
    grid-template-columns: auto;
  }
  .skills-box {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
  }
  .skills-box img {
    width: 100px;
    height: 100px;
  }
  .skills-box p {
    font-size: 10px;
  }
  .works {
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
  }
  .title-works p {
    font-size: 30px;
    justify-content: center;
    margin-top: -10px;
  }
  .box-utama {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    height: 100px;
    width: 100px;
  }
  .box img {
    height: 90px;
    width: 90px;
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-box {
    background: transparent;
    padding: 25px;  
    width: 200px;
    border-radius: 12px;
    margin-top: 80px;
  }
   .img{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .img img{
     height:0%;
     width: 0%;

    }
}
